html {
  scroll-behavior: smooth;
}

/* STYLE GUIDE */
/** FONTS **/
/* Headings */
/* Specific Page Headings */
h1,
h2,
h3,
h4,
h5 {
    color: #F2FBFB;
    font-family: 'public sans', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.hero-header {
  opacity: 0.6;
}

.hero-subheader {
  font-weight: 400;
  opacity: 0.7;
}

.emph {
  opacity: 1;
}

#digital-logo {
  font-family: "lores-12", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Heading Sizes */
/** Mobile devices **/
@media (max-width: 480px) {
  #digital-hero-section h1 {
    padding-top: 50px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

/** iPads, Tablets **/
@media (min-width: 481px) and (max-width: 768px) {
  #digital-hero-section h1 {
    padding-top: 70px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

/** Small screens, laptops **/
@media (min-width: 769px) and (max-width: 1919px) {
  .section-hero h1 {
    padding-top: 100px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}

/** Extra large screens, TVs **/
@media (min-width: 1920px) {
  .section-hero h1 {
    font-size: 80px;
    padding-top: 120px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 28px;
  }
}


/* paragraph */
p {
  font-size: 12px;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.2;
}

/* accents & buttons */

.digital-accent-text {
  font-size: 13px;
  line-height: 1.2;
  display: inline;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
}

.digital-btn {
  font-size: 12px;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

/** COLOURS **/
:root {
  --primary-bg-color: #162c46;
  --accent-color: #2d677b;
  --secondary-accent-color: #C0ED98;
  --text-color: #f2fbfb;
  --secondary-text-color: #5D686C;
}

body {
  margin: 0;
  font-family: 'Nimbus Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  -webkit-font-smoothing: antialiased;
}

/* Hero Section Background */
.section-hero {
  background: radial-gradient(circle at 20% 30%, var(--accent-color) 15%, transparent 40%),
            radial-gradient(circle at 80% 30%, #0DABEF 15%, transparent 30%),
            radial-gradient(circle at 50% 70%, #2D677B 15%, transparent 30%),
            radial-gradient(circle at 30% 80%, #6B777B 15%, transparent 30%),
            radial-gradient(circle at 80% 80%, #162C46 25%, transparent 30%),
            radial-gradient(circle at 100% 10%, #FF004F 10%, transparent 40%);
  background-color: var(--primary-bg-color);
  background-size: 250% 250%;
  animation: moveBackground 20s infinite linear;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: visible;
  z-index: -1;
  padding-top: env(safe-area-inset-top);
}

/* Content Inside Hero Section */
.section-hero .content {
  position: relative;
  z-index: 1;
  padding: 2.5rem 1.5rem;
}


@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* desktop */
.digital-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
}

#digital-logo {
  position: absolute;
  left: 0;
}

#digital-logo a {
  font-size: 25px;
}

.nav-text-area {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-align: center;
  border-radius: 12px;
  padding: 8px 12px;
  width: 30%;
  display: none !important;
}


@keyframes marquee {
  0% {
    transform: translateX(0%); /* Start position outside the view on the right */
  }
  100% {
    transform: translateX(-50%); /* End position outside the view on the left */
  }
}

.circle-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.6;
}


/* Mobile styles */
@media (max-width: 768px) {
  /* Wrap navigation and text area in a container */
  .digital-navigation-wrapper {
      display: flex;
      flex-direction: column; /* Stack navigation and text area vertically */
      width: 100%; /* Full width for wrapper */
  }

  .digital-navigation {
      flex-direction: row; /* Align logo and button in a row */
      margin-bottom: 10px; /* Space below the navigation */
  }

  .nav-text-area {
      width: 90%;
      padding: 8px 12px;
      text-align: left;
      margin-top: 40%;
      position: absolute;
  }

  h1 {
    margin-top: 25%;
  }
}

.digital-navigation-wrapper {
  position: relative; /* Position context for absolute positioning */
  width: 100%; /* Full width for wrapper */
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.digital-services-section {
  /* height: 100vh; */
  height: auto;
  position: relative;
  padding: 2.5rem 1.5rem;
  background: linear-gradient(hsl(242 88% 45% / 0), rgb(250 100 181 / 0.15) 2px, transparent 2px, transparent 4px);
  background-size: 100% 4px;
  animation: pan-overlay 22s infinite linear;
}


.digital-services-section h1 {
  margin: 0;
  padding-bottom: 2.5rem;
}

@media (max-width: 768px) {
.digital-services-section h2 {
  width: 100% !important;
  }
}
.digital-services-cta {
  color: var(--accent-color);
}

.digital-services-section .digital-divider {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.digital-featured-work-section {
  /* width: 50%;
  margin: 0 auto; */
}

/* #digital-insights-section {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
} */

.digital-insights-section {
  display: none;
  justify-content: space-between;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  background-color: var(--primary-bg-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;
}

.qxCTlb {
  font-family: "lores-12", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  border-radius: 12px;
  background-color: var(--primary-bg-color) !important;
  opacity: 0.6;
  margin-bottom: 50px;
  font-size: 1rem;
}

.qxCTlb:hover {
  background-color: var(--text-color) !important;
  color: var(--accent-color) !important;
  opacity: 1;
}

.qxCTlb::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3cf47f;
  margin-right: 0.5rem;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.insights-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  background-color: var(--primary-bg-color);
  border-radius: 20px;
}

.digital-contact-section {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent-color);
    height: 95vh;
    margin-top: -100px;
    padding-top: 100px;
}

.footer-container {
  margin: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  color: var(--text-color);
}

.digital-footer p {
  font-size: 1rem;
}

.digital-contact-section h3, p {
  font-family:  "lores-12", sans-serif;
  font-size: 1rem;
}

.digital-insights-sub {
  width: 100%;
  margin: 25px;
}

.blog-1, .blog-2, .blog-3 {
  flex: 1;  /* Allows blocks to grow and shrink as needed */
  border-radius: 12px;
}

.blog-1 {
  background-color: lightblue;
  height: 500px;
  width: 100%;
}

.blog-2 {
  background-color: lightcoral;
  height: 250px;
  width: 100%;
}

.blog-3 {
  background-color: lightgreen;
  width: 100%;
  height: 325px;
  margin-top: 25px;
}

.booking-btn {
    position: relative;
    z-index: 1;
}
/* COMPONENTS */
.digital-divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-text-color);
  border: 0;
  margin: 0 !important;
}

/** SERVICES LIST **/

.services-list-container {
  padding-top: 100px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 0;
}


.services-list li {
  background-color: var(--text-color);
  /* #f2fbfbde */
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.services-list li:hover {
  transform: translateY(-5px); /* Lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
  /* border: 2px solid rgba(225, 225, 225, .4); */
}

.services-list h2 {
  margin: 0 !important;
  color: var(--primary-bg-color);
  font-weight: 400;
}

.card-list li {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
}


.client-list-wrapper {
  overflow: hidden;
  padding: 0 25px; /* Adjust padding for the wrapper */
  box-sizing: border-box;
  display: none;
}

.client-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.digital-container {
  background-color: var(--primary-bg-color);
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.client-list img {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.services-list-container {
  height: 50vh;
}

/* CONTACT SECTION */
/* NAVIGATION */
/** sticky **/

.digital-sticky-nav-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .digital-sticky-nav-wrapper {
    width: 85% !important;
  }
}


/* .expanded.active + .digital-sticky-nav-wrapper {
  display: none;
} */

.sticky-bottom-nav {
  background-color: rgba(225,225,225,.2);
  padding: 5px 12px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter:blur(25px);
  box-shadow: inset -2px 2px 4px 0 hsla(0,0%,44%,.25);
}

.sticky-bottom-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

@media (max-width: 768px) {
  .sticky-bottom-nav-links {
    gap: 0px;
  }
}

.sticky-nav-menu-item {
  padding: 8px 12px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  cursor: pointer;
  font-family: "lores-12", sans-serif;
  text-transform: uppercase;
  border-radius: 14px;
}

.sticky-nav-menu-item:hover {
  background-color: hsla(24, 29%, 97%, .4);
  border-radius: 12px;
}

.sticky-nav-menu-item a {
  text-decoration: none;
  color: var(--text-color);
}

/* desktop */
.digital-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
}

#digital-logo {
  position: absolute;
  left: 0;
}


#digital-logo a {
  font-size: 25px;
  text-decoration: none;
  color: var(--text-color);
}


/*cards */

        /* Grid layout */
        .container {
            width: 100%;
            margin: 0 auto;
            display: grid;
            gap: 1.5rem;
            grid-template-columns: 1fr;
        }

        @media (min-width: 768px) {
            .container {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        /* Card styles */
        .card {
            /* background-color: rgb(24, 24, 27); */
            background-color: #162c46;
            border-radius: 1rem;
            padding: 2.5rem;
            min-height: 320px;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s;
            position: relative;
            border: 1px solid #2d677b8a;
        }

        .card:hover {
            background-color: rgba(39, 39, 42, 0.5);
        }

        .card-icon {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            /* margin-bottom: 2rem; */
        }

        .card-icon-wrapper {
            width: 11rem;
            height: 12rem;
            position: relative;
        }

        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: 500;
            font-family: "lores-12", sans-serif;
            text-transform: uppercase;
        }

        /* Button styles */
        .expand-button {
            padding: 0.5rem;
            border-radius: 9999px;
            background: none;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .expand-button:hover {
          transform: scale(1.1);
        }

        .expand-button svg {
            width: 1rem;
            height: 1rem;
            color: rgb(161, 161, 170);
        }

        /* Expanded view styles */
        .expanded {
            display: none;
            position: fixed;
            inset: 0;
            background-color: hsl(240deg 7% 97% / 35%);
            z-index: 50;
            overflow-y: auto;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            transition: opacity 0.6s ease-in-out;  /* Fade effect */
        }

        /* When the modal is active (will make it visible and fully opaque) */
        .expanded.active {
          display: block;
          opacity: 1;
        }

        .expanded-banner {
            position: relative;
            height: 10vh;
            /* background-color: rgb(24, 24, 27); */
            overflow: hidden;
        }

.expanded-service-item {
  background: #162c4621;
    padding: 6px 12px;
    color: var(--text-color);
    border-radius: 0.5rem;
    line-height: 2.5;
    white-space: nowrap;
    border: 1px solid var(--accent-color);
    font-size: 1rem;
}
        .close-button {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            padding: 0.5rem;
            border-radius: 9999px;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 10;
            transition: background-color 0.3s;
        }

        .close-button:hover {
            background-color: rgb(39, 39, 42);
        }

        .close-button svg {
            width: 1.5rem;
            height: 1.5rem;
            color: white;
        }

        .expanded-icon {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .expanded-icon-wrapper {
            width: 40vw;
            height: 40vw;
            opacity: 0.2;
        }

        .expanded-content {
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3rem;
            background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5), transparent);
        }

        .expanded-title {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        .expanded-description {
            margin: 0 auto;
            padding: 4rem 2rem;
            width: 45vw;
            /* background-color: #333; */
            border-radius: 12px;
        }

        @media (max-width: 768px) {
          .expanded-description {
              width: 80%;
              padding: 0rem 2rem;
          }
        }

        .expanded-description p {
            /* color: rgb(156, 163, 175); */
            font-size: 1.125rem;
            line-height: 1.75;
            color:rgb(39, 39, 42);
        }

        /* Image styles */
        .card-image, .expanded-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 1;
        }

        .image-gradient {
            position: absolute;
            inset: 0;
            /* background: linear-gradient(to top right, rgb(24, 24, 27), transparent); */
        }

        .logo-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
          gap: 0rem; /* Space between logos */
          justify-items: center; /* Center logos horizontally */
          width: 80%;
          margin: 0 auto;
      }

      .logo {
          width: 100%;
          max-width: 150px; /* Limit the size of logos */
          height: auto;
          object-fit: contain; /* Ensure logos maintain aspect ratio */
      }

      /* Mobile devices: stack logos in 1 column */
      @media (max-width: 768px) {
        .logo-grid {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            width: 100%;
        }
      }

      .selected-work-section {
        padding: 2.5rem 1.5rem;
      }



      .Xfsokf {

      }

      .footer-email a {
        text-decoration: none !important;
        color: var(--text-color) !important;
      }
